#aboutus
    padding: 40px 0
    .textbox
        padding: 0 70px
        .bigicon
            font-size: 30px
            color: #7492a5
            margin: 0 0 20px 20px
        h1
            font-weight: 700
            font-size: 35px
        h3,p
            color: #a29f9f
            font-size: 23px
            margin-top: 20px
            line-height: 1.6
        p
            color: #797d84
            font-size: 19px
            line-height: 1.4
        li
            display: flex
            margin-top: 20px
        .icon
            padding: 0 15px 0 0
            color: #7492a5
            font-size: 20px
        h4
            font-size: 20px
            color: #6c6b6b
    .imgbox
        width: 450px
    @media (max-width: 992px)
        .textbox
            padding: 0
            h3
                font-size: 20px
            p
                font-size: 18px
            h3,p
                margin-top: 16px
                line-height: 1.4
            li
                margin-top: 14px
    @media (max-width: 768px)
        .textbox
            margin: 30px 50px