#carefor
    padding: 50px 0
    .wid
        width: 440px
    .textbox
        line-height: 1.2
        h1
            font-weight: 700
            font-size: 60px
        h4
            color: #a59b9b
            font-size: 24px
    .imgbox
        width: 500px
